<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="border p-4 w-25">
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="d-flex flex-column" (submit)="submit()">
            <mat-form-field appearance="outline" class="mb-3">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Please enter email" [formControlName]="'email'" type="text">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mb-3">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Please enter email" [formControlName]="'password'">
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                    Password must be 6 character
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
                    Password must not exceed 15 character
                </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-between  align-items-center ">
                <button mat-flat-button [color]="'primary'" [disabled]="loaderShow">
                    <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"
                        *ngIf="loaderShow"></span> Log in
                </button>
                <a class="font-medium text-success hover:underline">
                    Register?
                </a>
            </div>
        </form>
    </div>
</div>